@import "https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css";
@import "http://webfonts.ru/import/lato.css";
body {
  font-family: 'Lato', 'Segoe UI', sans-serif;
  background: #028e9b;
  color: #fff;
  text-align: center;
  min-width: 1120px;
}
header {
  background: #1e6d74;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 30px;
}
main {
  position: absolute;
  top: 131px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 980px;
  height: calc(100vh - 131px);
  background: url(../img/pcpic.png) no-repeat center bottom/contain;
}
main .menu {
  margin-top: 12vh;

}
main .menu a {
  display: inline-block;
  margin: 10px;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #1d3740;
  text-decoration: none;
}
main .menu a img {
  display: block;
  width: 150px;
  margin-bottom: 15px;
  transition: all .3s;
}
main .menu a:hover img{
  transform: translateY(-10px);
}

@media screen and (max-height: 780px) {
  main .menu a {
    display: inline-block;
    margin: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #1d3740;
    text-decoration: none;
  }
  main .menu a img {
    display: block;
    width: 125px;
    margin-bottom: 15px;
    transition: all .3s;
  }
}
@media screen and (max-height: 720px) {
  main .menu a {
    display: inline-block;
    margin: 5px;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #1d3740;
    text-decoration: none;
  }
  main .menu a img {
    display: block;
    width: 100px;
    margin-bottom: 15px;
    transition: all .3s;
  }
}

@media screen and (min-height: 930px) {
  main .menu {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 480px;
  }
}
.app {

  background: #b9e9e8;
}
.app header {
  text-align: left;
  z-index: 999;
}
.app header .logo,
.app header .tabs {
  display: inline-block;
}
.app header .logo {
  text-align: center;
}
.app header .logo img {
  width: 150px;
  display: block;
}
.app header .logo span {
  font-size: .6em;
  text-transform: uppercase;
  margin-left: 3px;
  font-weight: 900;
}
.app main {
  background: none;
}
.tab-wrapper {
  display: inline-block;
  width: 70%;
  float: right;
  margin-right: 365px;
}
.tab-menu li {
  position:relative;
  background-color: #fff;
  color:#028e9b;
  display: inline-block;
  padding: 15px;
  cursor:pointer;
  z-index:0;
  transition: all .3s;
}

.tab-menu li.active {
  color:#464646;
  opacity: 1;
  background-color: #028e9b;
  color:#fff;
  padding: 15px;
}

.tab-content>div {
  background-color: #028e9b;
  box-sizing: border-box;
  width: 1660px;
  padding: 16px;
  color: #000;
  white-space:nowrap;
  overflow-y: hidden;
  max-height: 113px;
  text-decoration: none;
  z-index: 999;
}
.tab-content>div>div.block {
  display: inline-block !important;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  background: #fff;
  font-size: 2rem;
  font-weight: 900;
  color: #028e9b;
  border: 4px solid #fff;
  margin-right: 5px;
}
.app main {
  top: 235px;
  height: calc(100vh - 235px);
}
.buttons {
  text-decoration: none;
}
::-webkit-scrollbar {
    background-color: #01626B;
    height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #004D54;
}
.tasks {
  margin-top: 15px;
  font-weight: 800;
  background-color: #fff;
  border-width: thin;
  border-style: solid;
  border-color: #028e9b;
}
.title {
  padding-top: 15px;
  color:#1e6d74;
}
.task {
  padding-bottom: 10px;
  padding: 20px;
}
.positionTasks {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 800;
  color: #1e6d74;
}
.selectPosition {
  margin-top: 20px;
  font-weight: 800;
  font-size: 30px;
  color: #1e6d74;
}
.selectType {
  margin-top: 150px;
  font-weight: 800;
  font-size: 30px;
  color: #1e6d74;
}
.level-style {
  position: sticky;
}
.answer {
  background-color: #1e6d74;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.answerDiv {
  padding: 10px;
}
